In [18]:
import sqlite3
import pandas as pd

In [27]:
airports_query = \
"""
SELECT *
FROM airports
"""

with sqlite3.connect('data/flights.db') as con:   
   airports_df = pd.read_sql(airports_query, con)

airports_df

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8102,8102,9537,Mansons Landing Water Aerodrome,Mansons Landing,Canada,YMU,\N,50.066667,-124.983333,0,-8,A,America/Vancouver
8103,8103,9538,Port McNeill Airport,Port McNeill,Canada,YMP,\N,50.575556,-127.028611,225,-8,A,America/Vancouver
8104,8104,9539,Sullivan Bay Water Aerodrome,Sullivan Bay,Canada,YTG,\N,50.883333,-126.833333,0,-8,A,America/Vancouver
8105,8105,9540,Deer Harbor Seaplane,Deer Harbor,United States,DHB,\N,48.618397,-123.00596,0,-8,A,America/Los_Angeles
8106,8106,9541,San Diego Old Town Transit Center,San Diego,United States,OLT,\N,32.7552,-117.1995,0,-8,A,America/Los_Angeles

In [26]:
 schema_query = \
"""
SELECT *
FROM sqlite_master """

with sqlite3.connect('data/flights.db') as con:   
  schema_df = pd.read_sql(schema_query, con)
    
schema_df

,type,name,tbl_name,rootpage,sql
0,table,airports,airports,2,"CREATE TABLE airports (\n[index] INTEGER,\n [..."
1,index,ix_airports_index,airports,3,CREATE INDEX ix_airports_index ON airports ([i...
2,table,airlines,airlines,945,"CREATE TABLE airlines (\n[index] INTEGER,\n [..."
3,index,ix_airlines_index,airlines,946,CREATE INDEX ix_airlines_index ON airlines ([i...
4,table,routes,routes,1393,"CREATE TABLE routes (\n[index] INTEGER,\n [ai..."
5,index,ix_routes_index,routes,1394,CREATE INDEX ix_routes_index ON routes ([index])

In [28]:
print(schema_df['sql'].iloc[0])

CREATE TABLE airports (
[index] INTEGER,
  [id] TEXT,
  [name] TEXT,
  [city] TEXT,
  [country] TEXT,
  [code] TEXT,
  [icao] TEXT,
  [latitude] TEXT,
  [longitude] TEXT,
  [altitude] TEXT,
  [offset] TEXT,
  [dst] TEXT,
  [timezone] TEXT
)

In [31]:
airports_query = \
"""
SELECT name, code
FROM airports
"""

with sqlite3.connect('data/flights.db') as con:
    airports_df = pd.read_sql(airports_query, con)

airports_df

                                   name code
0                                Goroka  GKA
1                                Madang  MAG
2                           Mount Hagen  HGU
3                                Nadzab  LAE
4            Port Moresby Jacksons Intl  POM
...                                 ...  ...
8102    Mansons Landing Water Aerodrome  YMU
8103               Port McNeill Airport  YMP
8104       Sullivan Bay Water Aerodrome  YTG
8105               Deer Harbor Seaplane  DHB
8106  San Diego Old Town Transit Center  OLT

[8107 rows x 2 columns]

In [33]:
airports_query = \
"""
SELECT DISTINCT country AS "airport country"
FROM airports
"""

with sqlite3.connect('data/flights.db') as con:
    airports_df = pd.read_sql(airports_query, con)

airports_df

                   airport country
0                 Papua New Guinea
1                        Greenland
2                          Iceland
3                           Canada
4                          Algeria
..                             ...
235  South Georgia and the Islands
236                        Myanmar
237                       Svalbard
238                    North Korea
239                    Wake Island

[240 rows x 1 columns]

In [40]:
airports_query = \
"""
SELECT COUNT(*) AS "Number of Airports"
FROM airports
"""

with sqlite3.connect('data/flights.db') as con:
    airports_df = pd.read_sql(airports_query, con)

airports_df

   Number of Airports
0                8107

In [38]:
airports_query = \
"""
SELECT UPPER(name) AS "airport names in caps"
FROM airports
"""

with sqlite3.connect('data/flights.db') as con:
    airports_df = pd.read_sql(airports_query, con)

airports_df

                  airport names in caps
0                                GOROKA
1                                MADANG
2                           MOUNT HAGEN
3                                NADZAB
4            PORT MORESBY JACKSONS INTL
...                                 ...
8102    MANSONS LANDING WATER AERODROME
8103               PORT MCNEILL AIRPORT
8104       SULLIVAN BAY WATER AERODROME
8105               DEER HARBOR SEAPLANE
8106  SAN DIEGO OLD TOWN TRANSIT CENTER

[8107 rows x 1 columns]

In [42]:
airports_query = \
"""
SELECT *
FROM airports
WHERE city = 'New York' OR city = 'Goroka'
"""

with sqlite3.connect('data/flights.db') as con:
    airports_df = pd.read_sql(airports_query, con)

airports_df

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,3598,3697,La Guardia,New York,United States,LGA,KLGA,40.777245,-73.872608,22,-5,A,America/New_York
2,3698,3797,John F Kennedy Intl,New York,United States,JFK,KJFK,40.639751,-73.778925,13,-5,A,America/New_York
3,3885,3993,Wall Street Heliport,New York,United States,JRB,KJRB,40.701214,-74.009028,7,-5,A,America/New_York
4,3924,4032,East 34th Street Heliport,New York,United States,TSS,NONE,40.7425,-73.971944,10,-5,A,America/New_York
5,5541,6966,Penn Station,New York,United States,ZYP,\N,40.7505,-73.9935,35,-5,A,America/New_York
6,6303,7729,West 30th St. Heliport,New York,United States,JRA,KJRA,40.7545,-74.0071,7,-5,A,America/New_York
7,6341,7767,Idlewild Intl,New York,United States,IDL,KIDL,40.639751,-73.778924,13,-5,A,America/New_York
8,6455,7881,Port Authority Bus Terminal,New York,United States,None,NYPA,40.75616,-73.9906,0,-5,A,America/New_York
9,6696,8123,One Police Plaza Heliport,New York,United States,None,NK39,40.7126,-73.9996,244,-5,A,America/New_York
10,7159,8591,All Airports,New York,United States,NYC,\N,40.714167,-74.005833,31,-5,A,America/New_York
11,7915,9350,Grand Central Terminal,New York,United States,None,\N,40.752726,-73.977229,70,-5,A,America/New_York
12,7916,9351,Tremont,New York,United States,None,\N,40.847301,-73.89955,200,-5,A,America/New_York
13,8016,9451,Port Authority,New York,United States,None,\N,40.756667,-73.991111,33,-5,A,America/New_York

In [43]:
airports_query = \
"""
SELECT MAX(CAST(altitude as int)) AS "highest altitude"
FROM airports
"""

with sqlite3.connect('data/flights.db') as con:
    airports_df = pd.read_sql(airports_query, con)

airports_df

   highest altitude
0             14472

In [46]:
airports_query = \
"""
SELECT name as "airport name",
    CAST(latitude AS int) AS "Airport Latitude",
    CAST(altitude AS int) AS "Altitude(ft)",
    country AS "airport country"
    
FROM airports
WHERE "altitude(ft)" >= 10000 AND "Airport Latitude" Between 20 AND 50 

"""

with sqlite3.connect('data/flights.db') as con:
    airports_df = pd.read_sql(airports_query, con)

airports_df

              airport name  Airport Latitude  Altitude(ft) airport country
0                      Leh                34         10682           India
1        Hongyuan Airfield                32         11500           China
2            Lhasa-Gonggar                29         13136           China
3                   Manang                28         11000           Nepal
4     Jiuzhaigou Huanglong                32         11311           China
5     Qamdo Bangda Airport                30         14219           China
6                    Maiwa                33         11500           China
7               Syangboche                27         12309           Nepal
8             Yushu Batang                32         13000           China
9                    Gunsa                32         13780           China
10  Shigatse Peace Airport                29         12408           China
11        Kangding Airport                30         14042           China
12         Yading Daocheng                29         14472           China
13                  Gannan                34         10466           China